<!DOCTYPE html>
<html>
<head>
  <title>Backbone + Local Storage</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div id="savings-app" class="container">
    <h1>Saving is fun!</h1>

    <input type="number" id="input" placeholder="How much did you save today?">

    <ul id="list"></ul>

    <hr>
    Total Savings: PHP <span id="total-savings"></span>
  </div>

  <!-- JS INCLUDES -->
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js"></script>

  <!-- TEMPLATES -->
  <script type="text/template" id="saving-item">
    PHP <%= amount %>
    <span class="right">
    <%= new Date(date_posted).getMonth() + 1 %> <%= new Date(date_posted).getDate() %>, <%= new Date(date_posted).getFullYear() %>
    </span>
  </script>

  <!-- ACTUAL WORKING STUFF -->
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>